################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.ipch
*.suo
copilot-chat/
*.copilot
copilot-chat.log
**/copilot-chat/
**/*.copilot
**/copilot-chat.log
/.vs/psi/CopilotIndices
.vs/psi/CopilotIndices/17.12.31.40377/SemanticSymbols.db
.vs/psi/CopilotIndices/17.12.31.40377/CodeChunks.db
.vs/psi/CopilotIndices/17.12.31.40377/SemanticSymbols.db-shm
.vs/psi/CopilotIndices/17.12.31.40377/SemanticSymbols.db-wal
psi/x64/Debug/encryption.key
psi/x64/Release/encryption.key
.vs/psi/v17/DocumentLayout.backup.json
.vs/psi/v17/DocumentLayout.json
psi/x64/Debug/psi.exe.recipe
psi/x64/Debug/psi.log
psi/x64/Debug/psi.tlog/Cl.items.tlog
psi/x64/Debug/psi.tlog/CL.read.1.tlog
psi/x64/Debug/psi.tlog/CL.write.1.tlog
psi/x64/Debug/psi.tlog/link.command.1.tlog
psi/x64/Debug/psi.tlog/link.read.1.tlog
psi/x64/Debug/psi.tlog/link.secondary.1.tlog
psi/x64/Debug/psi.tlog/psi.lastbuildstate
.vs/psi/v17/DocumentLayout.backup.json
.vs/psi/v17/DocumentLayout.backup.json
.vs/psi/v17/DocumentLayout.json
psi/x64/Debug/psi.Build.CppClean.log
psi/x64/Debug/psi.exe.recipe
psi/x64/Debug/psi.log
psi/x64/Debug/psi.tlog/Cl.items.tlog
psi/x64/Debug/psi.tlog/psi.lastbuildstate
