################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.ipch
*.suo
copilot-chat/
*.copilot
copilot-chat.log
**/copilot-chat/
**/*.copilot
**/copilot-chat.log
/.vs/psi/CopilotIndices
