################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.ipch
*.suo
copilot-chat/
*.copilot
copilot-chat.log
**/copilot-chat/
**/*.copilot
**/copilot-chat.log
/.vs/psi/CopilotIndices
.vs/psi/CopilotIndices/17.12.31.40377/SemanticSymbols.db
.vs/psi/CopilotIndices/17.12.31.40377/CodeChunks.db
.vs/psi/CopilotIndices/17.12.31.40377/SemanticSymbols.db-shm
.vs/psi/CopilotIndices/17.12.31.40377/SemanticSymbols.db-wal
psi/x64/Debug/encryption.key
psi/x64/Release/encryption.key
